@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar css */
.menu-horizontal li a.active {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
}

.menu-horizontal li a {
  background-color: aliceblue;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
}




/* all button css */
.login-btn {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 5px;
}

.form-control button {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
}

.view {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 5px;
}

.read-more {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
  border-radius: 5px;
}

.go-back {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
  border-radius: 5px;
}

.subscribe {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 50px;
  border-radius: 5px;
  height: 50px;
}

.Btn {
  background-color: #4482ff;
  color: white;
  padding: 12px 25px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 25px !important;
  border-radius: 5px;
}



/* home page */
.slider {
  height: 600px;
  background-position: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
  border-radius: 20px;
}

.slider-content {
  margin: 0px 60px;
}

.slider-2 {
  background-image: url(../src/assets/2.jpg);
}

.slider-3 {
  background-image: url(../src/assets/3.jpg);
}

.slider-4 {
  background-image: url(../src/assets/4.jpg);
}

.swiper-button-next {
  color: #4482ff !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 4px;
}

.swiper-button-prev {
  color: #4482ff !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: -4px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #4482ff !important;
}

/* touristsSpot-container */
.touristsSpot-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.touristsSpot-cart {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.country-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.country {
  background-position: center;
  background-size: cover;
}

.country-1 {
  background-image: url('../src/assets/Bangladesh.jpg');
}

.country-2 {
  background-image: url('../src/assets/thiland.jpg');
}

.country-3 {
  background-image: url('../src/assets/Indonesia.jpg');
}

.country-4 {
  background-image: url('../src/assets/Malaysia.jpg');
}

.country-5 {
  background-image: url('../src/assets/Vietnam.jpg');
}

.country-6 {
  background-image: url('../src/assets/Cambodia.jpg');
}


.update-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(233, 233, 233);
}

.update-container input {
  outline: none;
  padding: 0px 20px;
  height: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #4482ff;
}









/* login page css */
.form input {
  border-radius: 0px;
  outline: none;
}

.input:focus {
  outline: none;
}

.login-option button {
  border: 1px solid rgb(208, 208, 208);
  padding: 7px 13px;
  border-radius: 5px;
}








/* details page */
.book-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.facilities-tag {
  background-color: #bc986b4D;
  border-radius: 20px;
  color: black;
  padding: 5px 15px;
  font-weight: 500;
}

.Line {
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
  margin: 15px 0px;
}




/* add-tourists-spot page */
.add-tourists-spot {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
}

.add-tourists-spot input {
  display: block;
  outline: none;
  border: 1px solid rgb(233, 233, 233);
  height: 45px;
  border-radius: 10px;
  padding: 0px 10px;
}


.add-tourists-spot textarea {
  display: block;
  outline: none;
  border: 1px solid rgb(233, 233, 233);
  height: 45px;
  border-radius: 10px;
  padding: 10px 10px;
  width: 100%;
  height: 100px;
}




/*  */
.line {
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
}

.tourspots-img{
  min-height: 280px;
  max-height: 280px;
}


/* responsive css code */
@media screen and (max-width: 1360px) {
  .tourspots-img{
    min-height: 260px !important;
    max-height: 260px !important;
  }
}


@media screen and (max-width: 1225px) {
  .tourspots-img{
    min-height: 235px !important;
    max-height: 235px !important;
  }
}

@media screen and (max-width: 1150px) {
  .tourspots-img{
    min-height: 220px !important;
    max-height: 220px !important;
  }
}


@media screen and (max-width: 1025px) {
  .touristsSpot-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
  }
  .tourspots-img{
    min-height: 280px !important;
    max-height: 280px !important;
  }
}


@media screen and (max-width: 900px) {
  .tourspots-img{
    min-height: 250px !important;
    max-height: 250px !important;
  }
}


@media screen and (max-width: 800px) {
  .update-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .update-text-div{
    padding: 50px 20px;
  }
  .tourspots-img{
    min-height: 220px !important;
    max-height: 220px !important;
  }
}

@media screen and (max-width: 680px) {
  .tourspots-img{
    min-height: 200px !important;
    max-height: 200px !important;
  }
}

@media screen and (max-width: 600px) {
  .touristsSpot-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0px;
  }
  .tourspots-img{
    min-height: 300px !important;
    max-height: 300px !important;
  }
}

@media screen and (max-width: 480px) {
  .tourspots-img{
    min-height: 250px !important;
    max-height: 250px !important;
  }
}

@media screen and (max-width: 430px) {
  .tourspots-img{
    min-height: 220px !important;
    max-height: 220px !important;
  }
}

@media screen and (max-width: 360px) {
  .tourspots-img{
    min-height: 200px !important;
    max-height: 200px !important;
  }
}