@tailwind base;
@tailwind components;
@tailwind utilities;



/* all button css */
.login-btn {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
}

.form-control button{
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
}

/* login page css */
.form input{
  border-radius: 0px;
  outline: none;
}
.input:focus {
  outline: none;
}
.login-option button {
  border: 1px solid rgb(208, 208, 208);
  padding: 7px 13px;
  border-radius: 5px;
}