@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar css */
.menu-horizontal li a.active {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
}

.menu-horizontal li a {
  background-color: aliceblue;
  padding: 10px 15px;
  font-weight: 500;
}




/* all button css */
.login-btn {
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
}

.form-control button {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
}

.view {
  background-color: #4482ff;
  color: white;
  padding: 10px 15px;
  font-weight: 500;
}

.read-more{
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
}

.go-back{
  background-color: #4482ff;
  color: white;
  padding: 8px 15px;
  font-weight: 500;
  border-radius: 20px;
}



/* home page */
.slider {
  height: 600px;
  background-position: center;
  border-radius: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  border-radius: 20px;
}

.slider-content {
  margin: 0px 60px;
}

.slider-1 {
  background-image: url(../src/assets/2.jpg);
}

.slider-2 {
  background-image: url(../src/assets/1.jpg);
}

.slider-3 {
  background-image: url(../src/assets/3.jpg);
}

.slider-4 {
  background-image: url(../src/assets/4.jpg);
}

.swiper-button-next {
  color: #4482ff !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: 4px;
}

.swiper-button-prev {
  color: #4482ff !important;
  background-color: white;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-left: -4px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background: #4482ff !important;
}






/* login page css */
.form input {
  border-radius: 0px;
  outline: none;
}

.input:focus {
  outline: none;
}

.login-option button {
  border: 1px solid rgb(208, 208, 208);
  padding: 7px 13px;
  border-radius: 5px;
}


/* touristsSpot-container */
.touristsSpot-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}

.touristsSpot-cart {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}





/* details */
.book-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 40px;
}

.facilities-tag {
  background-color: #bc986b4D;
  border-radius: 20px;
  color: black;
  padding: 5px 15px;
  font-weight: 500;
}

.Line {
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
  margin: 15px 0px;
}




/*  */
.line{
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
}